#board{
    padding: 3em;
    text-align: center;
}

.top-left, .top-middle, .top-right, .center-left, .center-middle, .center-right, .bottom-left, .bottom-middle, .bottom-right{
    float: left;
    height: 100px;
    width: 100px;
}

.row{
    clear: both;
    margin: auto;
    width: 302px;    
}

.top-left, .top-middle, .top-right{
    border-bottom: 1px;
}
